img {
    max-width: 100%;
    margin-bottom: -17px;
  }
.recipe_name{
    font-size: 60px;
    border-bottom: solid 3px #f2491e;
padding-bottom: 40px;
padding-top: 60px;
}
 .recipe_descriptions{
    border-bottom: solid 3px #f2491e;
    padding-bottom: 10px;
    margin-top: -20px;

  }
  .tags, .rating {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  .tags p {
    color: white;
    border-radius: 25px;
    padding: 8px 17px 10px 17px;
    height: 13px;
    background-color: #f2491e;
    margin-top: 15px;
  }
 