img {
  max-width: 100%;
  /* margin-bottom: -17px; */
}

.tags,
.rating {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.tags p {
  color: white;
  border-radius: 25px;
  padding: 8px 17px 10px 17px;
  /* height: 13px; */
  background-color: #f2491e;
  /* margin-top: 15px; */
}
.star {
  display: inline;
  font-size: inherit;
}
.rating p,
.star {
  line-height: 1; /* Se till att båda har samma radavstånd */
}

.recipe_name {
  font-size: 60px;
  border-bottom: solid 3px #f2491e;
  padding: 10%;
}

.recipe_descriptions {
  padding: 10%;
}
.recipe_details {
  /* border-top: solid 3px #f2491e; */
  /* border-bottom: solid 3px #f2491e; */
  padding: 10%;
  line-height: 1.5;
}

.recipe_img {
  border-top: solid 3px #f2491e;
  border-bottom: solid 3px #f2491e;
}

.recipe_ingredients {
  color: var(--primary-color);
  font-family: var(--second-font);
  line-height: 2;
  padding: 10%;
  border-bottom: solid 3px #f2491e;
}
.recipe_ingredients ul {
  border-bottom: solid 0px #f2491e;
  padding: 0%;
}

@media (min-width: 800px) {
  .singlerecipe {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  /* .recipe_name{
   
} */

  .recipe_img {
    border-top: solid 0px #f2491e;

    border-left: solid 3px #f2491e;
    border-bottom: solid 3px #f2491e;
    grid-column: 2;
    grid-row: 1 / span 2;
  }

  .recipe_descriptions {
    grid-column: 1;
    grid-row: 2;
    margin-top: -6%;
    border-right: solid 3px #f2491e;
  }

  .recipe_ingredients ul {
    border-top: solid 0px #f2491e;
    border-right: solid 0px #f2491e;
  }
  .recipe_ingredients {
    border-top: solid 3px #f2491e;
    border-right: solid 3px #f2491e;
    border-bottom: solid 0px #f2491e;
    padding-left: 10%;
    grid-column: 1;
    grid-row: 3;
  }

  .recipe_details p {
    border-left: solid 0px #f2491e;
  }
  .recipe_details {
    grid-column: 2;
    grid-row: 3;
    border-top: solid 0px #f2491e;
    /* border-left: solid 3px #f2491e; */
    margin-top: -10%;
    padding: 10%;
  }
}
