h1 {
  font-size: 55px;
}

.contentindex {
  margin-top: 10%;
}

.ungens-opskrift_grid {
  display: grid;
  grid-template-columns: 1fr;
  border-bottom: 3px solid #f2491e;
}

.opskrift_container {
  position: relative;
  display: inline-block;
}

.opskrift_container img {
  width: 100%;
  /* object-fit: cover; */
}

.ugens-opskrift-knap {
  position: absolute;
  top: 10px;
  right: 10px;
  color: white;
  padding: 5px 10px;
  font-weight: bold;
  font-size: 30px;
  text-decoration: underline;
  font-family: "Open-sans", sans-serif;
  letter-spacing: 0.5px;
}
.ugens-opskrift-knap a:visited {
  color: white;
}

.tilbudsstjerne {
  position: absolute;
  margin-top: -20%;
  margin-left: 5%;
  width: 60%;
  transform: rotate(8deg);
}

.tilbudsstjerne:hover {
  filter: saturate(1.5);
}

button {
  color: white;
  border-radius: 30px;
  padding: 8px 30px 10px 30px;
  background-color: #f2491e;
  margin: 25px 0px 50px 0;
  border: none;
  font-size: 25px;
}

.kategori {
  text-align: center;
  padding-top: 70px;
}

img {
  max-width: 100%;
}

h2 {
  font-size: 50px;
  text-decoration: underline;
}

.grid_2fr-1fr-fr {
  margin: 30px;
  padding: 20px;
}

.formcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 3px solid #f2491e;
  margin-top: 80px;
}

.form {
  background-color: #f2491e;
  color: white;
  width: 400px;
  padding: 50px 70px 30px 70px;
  border-radius: 50px;
  margin-top: 70px;
  align-content: center;
}

.form button {
  background-color: white;
  color: #f2491e;
  padding: 2px 15px 2px 15px;
  font-size: 20px;
  margin-top: 5px;
}

.formbox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.form button:hover {
  opacity: 0.8;
}

.form h3,
.form p {
  color: white;
}

.form p {
  font-size: 20px;
  margin-top: -5%;
}
.form h3 {
  letter-spacing: 0.5px;
  font-size: 30px;
}

@media (width >= 800px) {
  .ungens-opskrift_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .grid_2fr-1fr-fr {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    margin: 0 100px;
    gap: 50px;
  }
  .tilbudsstjerne {
    position: absolute;
    margin-top: -13%;
    margin-left: 30%;
    width: 35%;
  }

  .ungens-opskrift_grid h1 {
    font-size: 4.5vw;
    margin-left: 20px;
  }

  h1 {
    font-size: 70px;
  }

  .kategori {
    padding-top: 70px;
    padding-bottom: 50px;
  }
}
